*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
!.idea/codeStyles
!.idea/runConfigurations.xml
/app/build
/app/release
*.apk
*.ap_
*.dex
*.class
.kotlin/
